{% extends 'base.html.twig' %}

{% block title %}Quartier{% endblock %}

{% block body %}
    <h1>Détails du Quartier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quartier.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ quartier.nom }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ quartier.city.name }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    {% if quartier.image %}
                        <img src="{{ asset('uploads/quartiers/' ~ quartier.image) }}" alt="Image du quartier" width="300">
                    {% else %}
                        <p>Aucune image disponible</p>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_quartier_index') }}" class="btn btn-primary">Retour à la liste</a>
    <a href="{{ path('app_quartier_edit', {'id': quartier.id}) }}" class="btn btn-secondary">Modifier</a>

    {{ include('quartier/_delete_form.html.twig') }}
{% endblock %}
